In [1]:
from jiwer import wer, cer

In [2]:
import pandas as pd
import re

In [3]:
df = pd.read_csv("Surya_OCR_Results.csv")

In [4]:
df.head(30)

,reference,generated
0,இங்கச ர்ந்தமழப கப்படம எடத்தப்பதமக்கயம் இல்லய,இங்கச ரந்தமழப கப்படம் எடத்தப்பதமக்கயம் இல்லய
1,ஆண்ட உனக்கபதத இல்ல ஆனல்நீ இம்மறகற்றஞ்சட்டப்பட்...,ஆண்ட உனக்கபதத இல்ல ஆனல்நீ இம்மறகற்றஞ்சட்டப்பட்...
2,பர்களம்தயர் எல்லரம்தய ர் கபத்தல்கந்தளக்கம்,பர்களமதயர் எல்லர்மதய ரக்பதத்தலகந்தளக்கம்
3,அவர் எங்களடன்பணயற்றத்தடங்கம்பதஅவர்கள்சய்வர்கள்,அவர் எங்களடன்பணயற்றத்தடங்கம்பதஅவர்களச்யவர்கள
4,நான் நாளை ஒரு சிகிச்சை வேண்டும் நீங்கள் அதை செ...,நான் நாளை ஒரு சிகிச்சை வேண்டும் நீங்கள் அதை செ...
5,நன்உங்கள்தய்க்கஅளத்த வக்கறத யநறவற்றமயற்ச க்கறன்,நன்உங்களதயக்கஅளத்த வக்கறத் யநறவற்றம்யற்ச ககறன
6,மன்னள் மறயஎஸ்ச னட்உற ப்பனர் மற்றம்பனப்பர்பரள,.
7,தலஆறவக்கறதக்ககசரயனப்ப ய் பர்ப்பமஞபகம்இரக்க,தலஆறவக்கறதக்கசரயனப் ய பரப்பமஞ்பகமஇர்க்க
8,கறந்தபட்சம்நன்மடந்ததஎன்றசந்த ஷமகஇர க்கம் ஒரவரன...,கறந்தபட்சம்நன்மடந்ததஎன்றசந்த ஷமகஇர் க்கம் ஒரவர...
9,நீங்கள்தன்அந்தமர ந்த எழதக்கண்டரப்பீர்கள்எனநனக்...,நிங்களதனஅந்தமர ந்த எழுதககண்டரப்பர்கள்என்றனக்கறன
10,அவங்க அம்மவக்கடக்கட்எடக்க வரசயல்நக்கறன்னவரம்பற,அவங்க அம்மவக்கடக்கட்டாடக்க வரசயலநக்கறனனவரம்பற
11,தன்கட ம்பத்தற்கத்தரம்பப்பக வரம்பவதகஎன்ன டம்சன்னள்,தன்கட மபத்தற்கத்தரம்ப்பட்க வரமபவத்தளன்ன டமச்னன்
12,நன்ப ந்தயநனவ ல் ஆனல்நன்மன்மறந்தவட்டன்வ ளம்பரங்...,நன்ப ர்தயாதனவ ல் ஆனல்நன்மன்றந்தவட்டன்வ ளம்பரங்...
13,உங்களக்கஎன்னமசம னநல நீங்க சல்லநன்கட்க இல்லதத,உங்களக்களன்னமசம னநல நீங்க சல்லநன்கட்க இல்லதத
14,உனக்கஏற்கனவநறய நண்பர்கள்இரக்கற ர்கள்என்பதசறப்ப...,NaN
15,ஏனன்றல்நம்பசவத பசவத பச வதஎன்றஎத யம்சய்வதல்ல,ஏன்னறலநம்பசவத பசவத பச வதன்றத்த யமசயவதல்ல
16,அவங்கள வலயசய்யஅனப்ப ட்ட மச்சத்தநீ மட ச்சட,அவங்கள் வலயசயயுள்ப்ப டட மசசத்தந் மட சசட
17,தரம்பத்தரம்பஅவர்கள்இதய சய்கறர்கள் ஏனன ல்அநகவள்...,தரம்பத்தரம்பஅவர்களஇதய சயகறர்கள் ஏனன லஅநகவள்ளயர...
18,களங்கள் நம்கட்ச வர்த்தகத்தத்ஒரவதயக்க ண்ட ரக்கவல்ல,களங்கள் நமகடச வரதத்ததத்திரவதயக்க ணட ரக்கவலல்
19,சலந மடங்களக்கமன் மரனவன் இளயக ழந்தயன்உடல் கண்ட ...,சலந மடங்களக்கமன் மரனவன் இளயக ழந்தயன்உடல் கண்ட ...
20,உன்னடயபத வலயல் சர்வதற்கமன்னல்உல்லசமகஇரக்க,உனனடயப்பத வலயல் சரவதற்கமனைல்உலலசமகஇரக்க
21,வறஞ பகத்தக்கவந்ததயல்லம் அந்த கவர்ல வச்சரக்கன்,வற்கு பகத்தக்கவந்ததயல்லம் அந்த கவரல் வசசர்க்கன
22,ஆனல்அந்தநள க்கப்பன் ய ரக்கம் டட்டவக்கஇடஞ்சல்கட...,ஆனல்அந்தநள க்கப்பன் ய ரக்கம் டட்டவக்கஇடஞ்சல்கட...
23,என் அம்மவன்தங்கஎன்ன டய அத்தயன்கணவரக்கஏதசன்னர்,என அம்மவனதங்கனன் டய அததயன்கணவர்க்கரத்தனனர்
24,இவர் கற்றவளஇல்லஎன்ற பரந்தரயஎனக்கஅளக்கவ ண்டம்,இவர் கற்றவளஇல்லஎன்ற பரந்தரயஎனக்கஅளக்கவ ண்டம்
25,நீங்கள் களீவ்ஸ்ம ல்ஸ்பல ஸதடர்ப கண்டதல மஅதகர ரச...,நங்கள் கள்வஸ்ம் லஸ்பல் ஸ்தடரப கண்டதல் மஅதகர ரச...
26,ஏய் தழர்கள உங்களக்கஒரபனம்எடத்தக்கள்ளங்கள் நங்க...,ஏய தழர்கள் உங்களக்கஒருபனம்எடத்தக்களைங்கள் நங்க...
27,கடவக்கறயீட்டஉள்ள டவம் மகஐடக்கமலஸ்வப்சய்யவம்,கடவக்கறயட்ட உள்ள டவம் மக்ஐடக்கமல்லவப்சயயவம்
28,நன்த ன்சர யன் என்னச ற்றதன் எட்ட கள்கள ம்உள்ளன,நனத னசர் யன் என்னச ற்றதன் எட்ட களகள் ம்உள்ளன.
29,நன்ஒரவரத்தல்பறக்கண க்கப்பட்டன் இங்கம்அங்கம்,நனஒரவரததலபறக்கண ககப்பட்டன் இங்கம்அங்கம

In [5]:
# def remove_non_sinhala(text):
#      if isinstance(text, str):
#         return ''.join(char for char in text if re.match(r'[\u0D80-\u0DFF\s]', char))
#      else:
#         return ''  # or some other appropriate default value

In [6]:
# df['reference'] = df['reference'].apply(remove_non_sinhala)
# df['generated'] = df['generated'].apply(remove_non_sinhala)

In [7]:
# df.head(30)

In [8]:
empty_space_df_stripped = df[(df['reference'].str.strip() == '') & (df['generated'].str.strip() == '')]

In [9]:
empty_space_df_stripped

Empty DataFrame
Columns: [reference, generated]
Index: []

In [10]:
indices_to_remove = df[(df['reference'].str.strip() == '') & (df['generated'].str.strip() == '')].index

In [11]:
df = df.drop(indices_to_remove)

In [12]:
df = df.reset_index(drop=True)

In [13]:
agg_error_wer = 0
agg_error_cer = 0
count = 0
for i in range(len(df)):
    record = df.iloc[i]
    try:
        error_wer = wer(record['reference'], record['generated'])
        error_cer = cer(record['reference'], record['generated'])
    except Exception as e:
        print(e)
        print(record)
        print(i)
        continue
    count += 1
    agg_error_wer += error_wer
    agg_error_cer += error_cer

input nan was expected to be a string or list of strings
reference    உனக்கஏற்கனவநறய நண்பர்கள்இரக்கற ர்கள்என்பதசறப்ப...
generated                                                  NaN
Name: 14, dtype: object
14
input nan was expected to be a string or list of strings
reference    நீங்கள் படபயங்கரத்தவள வக்கம்சலமலம் கண்டபடக்கபகறம்
generated                                                  NaN
Name: 90, dtype: object
90
input nan was expected to be a string or list of strings
reference    நன்ஒரபக்கஅழத்ததபற்றலயஸ பம்ப்ரக்எவ்வளவவணலம்இளக்...
generated                                                  NaN
Name: 136, dtype: object
136
input nan was expected to be a string or list of strings
reference    உங்கள் பிற்பகுதியில் மாமாவின் நண்பர் மற்றும் வ...
generated                                                  NaN
Name: 179, dtype: object
179
input nan was expected to be a string or list of strings
reference    நன்உன்மல்பயத்தயக்கரத்தனமக கதலல்இர க்கன்றன்
generated                                           NaN
Name: 216, dtype: object
216
input nan was expected to be a string or list of strings
reference    உறந்தரக்கம்பய் நன்ச ட்டரட்டயஉண்பத தடக்கறத
generated                                          NaN
Name: 217, dtype: object
217
input nan was expected to be a string or list of strings
reference    பள்ளயல் பலங்களப்பற்ற படப்பதல்மழ வரத்தயம்கழத்தம்
generated                                                NaN
Name: 225, dtype: object
225
input nan was expected to be a string or list of strings
reference    உங்கள் தந்த கபவமக்களக்கவழங்க ம்வளயட்ட கள்
generated                                          NaN
Name: 336, dtype: object
336
input nan was expected to be a string or list of strings
reference    அவர்கள் கள்ளச் சந்தயல்வர்த்தகம்அவர்கள்என்ன வண்...
generated                                                  NaN
Name: 398, dtype: object
398
input nan was expected to be a string or list of strings
reference    உண்மயல என்மசம னநடத்த யயம் எல்லரம்மன்னக்கத்தயரஇ...
generated                                                  NaN
Name: 401, dtype: object
401
input nan was expected to be a string or list of strings
reference    நமதஅமரக்கவணககப்பல்கள்நமதஅமரக்க கடற்படயல்பத கக்...
generated                                                  NaN
Name: 450, dtype: object
450
input nan was expected to be a string or list of strings
reference    உன் பிரச்சனையே உனக்கான ஒரு கூட்டத்தை சேர்த்து ...
generated                                                  NaN
Name: 459, dtype: object
459
input nan was expected to be a string or list of strings
reference    நன்அதப்பர்த்தக்கறதலஅவர் ரம்பஆவலஇரக்கர்பலம்
generated                                           NaN
Name: 495, dtype: object
495
input nan was expected to be a string or list of strings
reference    அப்படய அத நீங்கள் எப்படச ய்யதட்டமடகறீர்கள்
generated                                           NaN
Name: 595, dtype: object
595
input nan was expected to be a string or list of strings
reference    மீண்டம்அரண்மனக்கநடந்த என் வழ்க்கயல்நீண்டஇரந்தத
generated                                               NaN
Name: 644, dtype: object
644
input nan was expected to be a string or list of strings
reference    டவலஅவங்கவீட்டலநடந்த எல்ல டரமவயம்பர்த்தரப்பல
generated                                            NaN
Name: 660, dtype: object
660
input nan was expected to be a string or list of strings
reference    அந்த கரதகர்களடஎன்னபடபட வங்கன்ன தரயமநங்கசவம்
generated                                            NaN
Name: 746, dtype: object
746
input nan was expected to be a string or list of strings
reference    அதன்சர்க்கரயகண்ட வந்த இப்படக ண்ணத்தலவச்சட்டபற
generated                                              NaN
Name: 899, dtype: object
899
input nan was expected to be a string or list of strings
reference    தற்றம்க ண்டகட ம்பம்ஒரநபரன்ம ழவழ்க்கயயம் பதக்கம்
generated                                                NaN
Name: 1061, dtype: object
1061
input nan was expected to be a string or list of strings
reference    நன்மகழ்ந்தம்நன்கட்டயத நன்வ டக்கயகஇரக்க ம்என்ற
generated                                              NaN
Name: 1135, dtype: object
1135
input nan was expected to be a string or list of strings
reference    அவர் எங்களக்கமன்னல் பரக் க ன்றர் அவர் எங்கள் வ...
generated                                                  NaN
Name: 1202, dtype: object
1202
input nan was expected to be a string or list of strings
reference    உறதயனவர் நக ழ்வனவர் ஆகயவ என்னவ வரக்கதவர்த்தகள்
generated                                               NaN
Name: 1218, dtype: object
1218
input nan was expected to be a string or list of strings
reference    கர்டல்கட்டட்சக்கள்பர் யரம்யர யம்நம்பம ட்டங்க
generated                                             NaN
Name: 1287, dtype: object
1287
input nan was expected to be a string or list of strings
reference    அவர்கள் இளயவர்கள்என்பதல் யதர்த்தம்ப ரயமல்இரக்கலம்
generated                                                  NaN
Name: 1332, dtype: object
1332
input nan was expected to be a string or list of strings
reference    உங்கள் எதரதக்கதல்கறத்த யர்கணத்த ள்ளனர் சரங்கப்...
generated                                                  NaN
Name: 1393, dtype: object
1393
input nan was expected to be a string or list of strings
reference    எனவ நமக்கவணம்ன நள்மழவத யம் படக்கயலயகழக்கலம்
generated                                            NaN
Name: 1398, dtype: object
1398
input nan was expected to be a string or list of strings
reference    உன் பற்றர்கள்யர தர்ந்தடக்கறர்கள அவனத ரமணம்சய்த...
generated                                                  NaN
Name: 1498, dtype: object
1498
input nan was expected to be a string or list of strings
reference    நீங்கள் சறயவர் ஆன ல் நீங்கள் சத்தமகப சகறீர்கள்
generated                                               NaN
Name: 1567, dtype: object
1567
input nan was expected to be a string or list of strings
reference    அநகமகசல தசந றந்த அலமரயல் உட்கர்ந்த எங்க ம ழமயக...
generated                                                  NaN
Name: 1581, dtype: object
1581
input nan was expected to be a string or list of strings
reference    பர்லனல்பரய படககள க்கண்ட பயப்படம்ஒரபங்கரப்பத்தய
generated                                               NaN
Name: 1624, dtype: object
1624
input nan was expected to be a string or list of strings
reference    டரக்கற்கஇதல் தடர்ப இரப்பதக உண்மயல்நீ நன க்கறய
generated                                              NaN
Name: 1673, dtype: object
1673
input nan was expected to be a string or list of strings
reference    உடம்பக்கஏத வதபரச்சனன்ன அதக்கன எல்லதீர்வநம்மடம்...
generated                                                  NaN
Name: 1679, dtype: object
1679
input nan was expected to be a string or list of strings
reference    உனக்கஎன்னவண்டம்என்றந னக்கற ய் மற்றம்நீங்கள்உங்...
generated                                                  NaN
Name: 1688, dtype: object
1688
input nan was expected to be a string or list of strings
reference    உங்களக்கநயமக்கப்பட்டள்ளகழவடம் ரப்பர்ட்சய்யவம்
generated                                              NaN
Name: 1840, dtype: object
1840
input nan was expected to be a string or list of strings
reference    அந்த டீன் சக்யரட்டயடம் அதகண்டகள்ளவண்ட ம்னசல்லட...
generated                                                  NaN
Name: 1864, dtype: object
1864
input nan was expected to be a string or list of strings
reference    அதனல் த டர்கல யளகள் அவள் அவளடயபன்றவர்த்தகள
generated                                           NaN
Name: 1939, dtype: object
1939
input nan was expected to be a string or list of strings
reference    மஜ நீ பர்ஷந்த்தன்தரமணஅட்டகள ஒப்படத்தவட்டய
generated                                          NaN
Name: 1987, dtype: object
1987
input nan was expected to be a string or list of strings
reference    கறஸ்தமஸ்சறப்பநகழ்ச்ச பர்ப்பதற்ககசர யகநரத்தல்வங...
generated                                                  NaN
Name: 2026, dtype: object
2026
input nan was expected to be a string or list of strings
reference    அவர்கள் இங்கஇல்லயன்றல் நன்அவரஇங்க பட்ட வன் அவர...
generated                                                  NaN
Name: 2042, dtype: object
2042
input nan was expected to be a string or list of strings
reference    உன்னத க்ககறன் உன்னதவக்க சய்கறன் அவன க்கஏழகட
generated                                            NaN
Name: 2084, dtype: object
2084
input nan was expected to be a string or list of strings
reference    மதவகத்தடங்கங்கள் ஆனல்வ ரவகச்சல்ல ங்கள் ஆனல்மக ...
generated                                                  NaN
Name: 2145, dtype: object
2145
input nan was expected to be a string or list of strings
reference    கறந்தபட்சம் பர்இறந்தவங்கன்னம் இதத சயஎமர்ஜன்சன்...
generated                                                  NaN
Name: 2257, dtype: object
2257
input nan was expected to be a string or list of strings
reference    எனவ ம தல்பத யல்கரய கணதம்மற்றம்ஆங்க லம்ஆகயவற்றல...
generated                                                  NaN
Name: 2299, dtype: object
2299
input nan was expected to be a string or list of strings
reference    அவசர அழப்பஎந்தமரத்தவர்அங்கஇல்லஏனனல்நன்அழ க்கப்...
generated                                                  NaN
Name: 2307, dtype: object
2307
input nan was expected to be a string or list of strings
reference    நங்கள்ஒரமலம்சட்டக டத்தத வண்கலம் உங்கள்இரத்தநீல...
generated                                                  NaN
Name: 2341, dtype: object
2341
input nan was expected to be a string or list of strings
reference    நன்த டங்கயஇடத்தல்மீண்ட ம் வந்தன்எனநம்பவதவட
generated                                           NaN
Name: 2355, dtype: object
2355
input nan was expected to be a string or list of strings
reference    சலசமயங்களல்ரணதன்இரஜ்ஜயத்தன் நலனக்ககமசமனசயல்களச...
generated                                                  NaN
Name: 2394, dtype: object
2394
input nan was expected to be a string or list of strings
reference    பஸ்டன்ஷ ப்பங் வள ந ட்டல் பலபத வசய்யப்பட்டள்ளத
generated                                              NaN
Name: 2563, dtype: object
2563
input nan was expected to be a string or list of strings
reference    உன்னஒரவயத னபண்மணய படக்கட்டகளல்தள்ளவத்தவடவன்
generated                                            NaN
Name: 2644, dtype: object
2644
input nan was expected to be a string or list of strings
reference    நங்கள்ல மனல்சய்வதற்கம்இதற்கம அல்லதஎந்தவததண்டப்...
generated                                                  NaN
Name: 2648, dtype: object
2648
input nan was expected to be a string or list of strings
reference    நன்ச ன்னஉட ஞ்சகடவ த்த ரந்த கடக்கரனகஇரந்தபத
generated                                           NaN
Name: 2659, dtype: object
2659
input nan was expected to be a string or list of strings
reference    ஹர்லன்ப லஒர வனடம்பலவீனத்தகட்டனல் அவன் நம்மம ழம...
generated                                                  NaN
Name: 2686, dtype: object
2686
input nan was expected to be a string or list of strings
reference    மற்றம்ஏர்ஒர சலந மடங்கள்மலகமச்ச அதகமக அம்மனய உள்ளத
generated                                                  NaN
Name: 2745, dtype: object
2745
input nan was expected to be a string or list of strings
reference    நீங்களம் அவனம்இரக்கம்படத்த ட்வட்டரல்பர்த்தன்
generated                                             NaN
Name: 2774, dtype: object
2774
input nan was expected to be a string or list of strings
reference    நங்கள்ஒரவரக்கரவர்ஆதரவக இவ்வளவக லமகஇரந்தம் தரயம
generated                                               NaN
Name: 2851, dtype: object
2851
input nan was expected to be a string or list of strings
reference    பத்தஆண்டகளக்கள்இந்தந றவனம் மழமயகசயநத யதவ பறம்
generated                                              NaN
Name: 2910, dtype: object
2910
input nan was expected to be a string or list of strings
reference    நம்ப கறன்இந்தந றவனத்தஎடக்கவளந்ததஎன்றஇங்கதட்டங்...
generated                                                  NaN
Name: 2961, dtype: object
2961
input nan was expected to be a string or list of strings
reference    சமயலறலஉன்மட்டர்சக்கள ரப்பர்பண்ணலம்னஉன்அப்பகட்ட...
generated                                                  NaN
Name: 3001, dtype: object
3001
input nan was expected to be a string or list of strings
reference    நன்த நீர் கப கடபழக்கம் தன்அவளத கணவர்ஆசீர்வதத்த...
generated                                                  NaN
Name: 3011, dtype: object
3011
input nan was expected to be a string or list of strings
reference    அந்த பண் ஜ னயர்பபச ங் ப்ளீஸ் அவளப டவட ங்கள்
generated                                            NaN
Name: 3027, dtype: object
3027
input nan was expected to be a string or list of strings
reference    அதன்பறககட தவறனஎதரயன்ஹலகப்டர்நம்எல்லக்கள்ந ழகறத
generated                                               NaN
Name: 3119, dtype: object
3119
input nan was expected to be a string or list of strings
reference    அதசர வரவ ல்அப்பப் படக்கக்க பய்வடவீர்கள்எனஎதர்ப...
generated                                                  NaN
Name: 3177, dtype: object
3177
input nan was expected to be a string or list of strings
reference    மற்றொரு கும்பல் இந்த இடத்தை கண்டுபிடிக்க போத...
generated                                                  NaN
Name: 3186, dtype: object
3186
input nan was expected to be a string or list of strings
reference    அதஜ பயடஅம்ம பக்கவ க்கக் கடத்தஎட்டயரம்யரக்களக்க
generated                                               NaN
Name: 3261, dtype: object
3261
input nan was expected to be a string or list of strings
reference    அறவயல்அண யரபரந்தஒல பரப்ப க்கண்டரந்தத அங்க
generated                                          NaN
Name: 3293, dtype: object
3293
input nan was expected to be a string or list of strings
reference    நீங்கள் இறதயகஎன் பச்சக்கட்கறீர்கள்என்றந னத்தன்
generated                                               NaN
Name: 3350, dtype: object
3350
input nan was expected to be a string or list of strings
reference    ஹய் ப ரங்க மசம னசம்பவங்கள் நடக்கம்ம ன்தட க்கம்...
generated                                                  NaN
Name: 3392, dtype: object
3392
input nan was expected to be a string or list of strings
reference    மற்றம் அத பல் இல்ல என்றல் நளமீண்டம்கத்தரக்கய்
generated                                              NaN
Name: 3408, dtype: object
3408
input nan was expected to be a string or list of strings
reference    அவர் மீதப டக்கம்என்ற ல் நன்அவரகலச ய்யம் மன்பகவ
generated                                               NaN
Name: 3441, dtype: object
3441
input nan was expected to be a string or list of strings
reference    உங்கள் கதயநீங்கள்என்னடம் சல்லம்வதம்எனக்கப்படக்...
generated                                                  NaN
Name: 3475, dtype: object
3475
input nan was expected to be a string or list of strings
reference    மற்றவர்கள் அங்கஉள்ளன நம்அவ்வப்பதஅவற்றஇயக்க
generated                                           NaN
Name: 3551, dtype: object
3551
input nan was expected to be a string or list of strings
reference    நன்வ ணபசங்களகட்ட ட்டமணர் பய்ப த்தட்டவந்த டவ
generated                                            NaN
Name: 3552, dtype: object
3552
input nan was expected to be a string or list of strings
reference    அந்த மரத்தவமனக்கள்ளலக்சட் என்ற சறயமர த்தவமனயம்...
generated                                                  NaN
Name: 3643, dtype: object
3643
input nan was expected to be a string or list of strings
reference    அவரதகடனவலக்கத்இதற்கவக மதயகரீடதனதமதல்பஸ்பல்வள ய...
generated                                                  NaN
Name: 3805, dtype: object
3805
input nan was expected to be a string or list of strings
reference    அந்த சமயத்தல் க ழந்தகளவற்பத கடரமனமற்றம்தீயசயல்...
generated                                                  NaN
Name: 3910, dtype: object
3910
input nan was expected to be a string or list of strings
reference    நங்கள்இனதங்கயரந்தல் எங்கள் கலஜக்மடத்தரக்கலம்
generated                                             NaN
Name: 3946, dtype: object
3946
input nan was expected to be a string or list of strings
reference    கலம்பயவக்கஅமரக்கவடன் கற்றவளகளஒப்படக்கம்ஒப்பந்த...
generated                                                  NaN
Name: 3980, dtype: object
3980
input nan was expected to be a string or list of strings
reference    நன்உங்கள்இரத்தத்தகலன் தண்ணீரல்நரப்பவர ம்பகறன்
generated                                              NaN
Name: 3985, dtype: object
3985
input nan was expected to be a string or list of strings
reference    அங்கஒரகண்டபர்க்க ஷ்பண்ணமணந்த வத வதன்னபர்க்கஷ்க...
generated                                                  NaN
Name: 4119, dtype: object
4119
input nan was expected to be a string or list of strings
reference    உங்கள் நனவகளகஷ்க ளவடநம்பச் சமத்ததற்கநன்ற தர
generated                                            NaN
Name: 4140, dtype: object
4140
input nan was expected to be a string or list of strings
reference    டக்டர்மன் நங்கள்மன்ற பதகப்ப னகண்டபடக்கவ ண்டம் ...
generated                                                  NaN
Name: 4157, dtype: object
4157
input nan was expected to be a string or list of strings
reference    அப்பதஎனக்கமயக்கமரந்த படப்பட்ட கடத்தப்பட்டரந்தன்
generated                                                NaN
Name: 4172, dtype: object
4172
input nan was expected to be a string or list of strings
reference    கத்தரங்கள் அவள்எங்க வசக்க றள்என்பதக்கண்டபடத்தஅ...
generated                                                  NaN
Name: 4466, dtype: object
4466
input nan was expected to be a string or list of strings
reference    நன்என்மீததங்க கறன் அபர்ட்மண்ட்மற்றம்ஒரதல பசஅழப...
generated                                                  NaN
Name: 4498, dtype: object
4498
input nan was expected to be a string or list of strings
reference    தரயல்இர ந்தசகரட்எடப்பதந ன் தவறகந னக்கவல்ல
generated                                          NaN
Name: 4640, dtype: object
4640
input nan was expected to be a string or list of strings
reference    நறயதப்பக்கசடகளகட்டன் வன்மறயப்பர்த்தன் கட்டன்
generated                                             NaN
Name: 4791, dtype: object
4791
input nan was expected to be a string or list of strings
reference    அவற்றஅடயல்மறக்கப்பர்த்த ன் ஆனல்அவள்மப்பம்படத்த...
generated                                                  NaN
Name: 4792, dtype: object
4792
input nan was expected to be a string or list of strings
reference    நீங்கள் எப்படஇரக்கறீர்கள்என பர்ப்பதற்ககவந்தன்
generated                                              NaN
Name: 4857, dtype: object
4857
input nan was expected to be a string or list of strings
reference    ஆனல் மன்னக்கவம் என்றசல்லய ரக்கவண்டம்என்றநனக்கறன்
generated                                                 NaN
Name: 4970, dtype: object
4970
input nan was expected to be a string or list of strings
reference    மயஜலத்தன்இடம் இங்க மகழ்ச்சயற்றதன்மசட்டத்தற்கஎதரனத
generated                                                  NaN
Name: 4986, dtype: object
4986
input nan was expected to be a string or list of strings
reference    அதம கவம்சக்கலகஇல்லவட்டல் சலக்கஒரகளஸ்பல்இரக்கலம்
generated                                                NaN
Name: 5051, dtype: object
5051
input nan was expected to be a string or list of strings
reference    நன்வ டகக்கஒரவீட்டத்தடகறன்என்றசன்னன் இல்லய
generated                                          NaN
Name: 5091, dtype: object
5091
input nan was expected to be a string or list of strings
reference    கரப்பஆண்ஆட உன்வ ளத்தபண் ஆட்டடன்உறவடக்கண்டரக்கறத
generated                                                NaN
Name: 5103, dtype: object
5103
input nan was expected to be a string or list of strings
reference    கலஆய தம்மற்றம்தடயவயல்அறக்ககள என்னல்கயளம டயம்
generated                                             NaN
Name: 5175, dtype: object
5175
input nan was expected to be a string or list of strings
reference    நன் எழதம்படல்கள வறயர ம்கட்பதஎனக்கப் படக்கத
generated                                           NaN
Name: 5180, dtype: object
5180
input nan was expected to be a string or list of strings
reference    அதட எனக்ககல்ல ரக்கபகஆச அத க்க சககவல்இன்ன ம்நறய...
generated                                                  NaN
Name: 5275, dtype: object

In [14]:
print(f"Word Error Rate (WER): {agg_error_wer/ count}")

Word Error Rate (WER): 0.649989876670367

In [15]:
print(f"Character Error Rate (CER): {agg_error_cer/ count}")

Character Error Rate (CER): 0.1391731143886063

In [16]:
# pip install evaluate

In [17]:
# pip install nltk

In [18]:
import nltk
import ssl

try:
    _create_unverified_https_context = ssl._create_unverified_context
except AttributeError:
    pass
else:
    ssl._create_default_https_context = _create_unverified_https_context

nltk.download('wordnet')
nltk.download('punkt')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/nevidujayatilleke/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/nevidujayatilleke/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [19]:
from nltk.translate.meteor_score import meteor_score

In [20]:
from nltk.translate.meteor_score import meteor_score

agg_meteor = 0
count = 0
for i in range(len(df)):
    record = df.iloc[i]
    try:
        reference_text = record['reference']
        generated_text = record['generated']
        reference_tokens = reference_text.split()
        generated_tokens = generated_text.split()
        # print(f"Index: {i}")
        # print("Reference Text:", reference_text)
        # print("Generated Text:", generated_text)
        # print("Reference Tokens:", reference_tokens)
        # print("Generated Tokens:", generated_tokens)
        # print("Type of meteor_score:", type(meteor_score))  # Check the type of the function
        current_meteor_score = meteor_score([reference_tokens], generated_tokens)
        # print("Meteor Score:", current_meteor_score)
    except Exception as e:
        print(f"Error: {e}")
        print("Problematic Record:", record)
        print("Index:", i)
        continue
    count += 1
    agg_meteor += current_meteor_score

Error: 'float' object has no attribute 'split'
Problematic Record: reference    உனக்கஏற்கனவநறய நண்பர்கள்இரக்கற ர்கள்என்பதசறப்ப...
generated                                                  NaN
Name: 14, dtype: object
Index: 14
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நீங்கள் படபயங்கரத்தவள வக்கம்சலமலம் கண்டபடக்கபகறம்
generated                                                  NaN
Name: 90, dtype: object
Index: 90
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நன்ஒரபக்கஅழத்ததபற்றலயஸ பம்ப்ரக்எவ்வளவவணலம்இளக்...
generated                                                  NaN
Name: 136, dtype: object
Index: 136
Error: 'float' object has no attribute 'split'
Problematic Record: reference    உங்கள் பிற்பகுதியில் மாமாவின் நண்பர் மற்றும் வ...
generated                                                  NaN
Name: 179, dtype: object
Index: 179
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நன்உன்மல்பயத்தயக்கரத்தனமக கதலல்இர க்கன்றன்
generated                                           NaN
Name: 216, dtype: object
Index: 216
Error: 'float' object has no attribute 'split'
Problematic Record: reference    உறந்தரக்கம்பய் நன்ச ட்டரட்டயஉண்பத தடக்கறத
generated                                          NaN
Name: 217, dtype: object
Index: 217
Error: 'float' object has no attribute 'split'
Problematic Record: reference    பள்ளயல் பலங்களப்பற்ற படப்பதல்மழ வரத்தயம்கழத்தம்
generated                                                NaN
Name: 225, dtype: object
Index: 225
Error: 'float' object has no attribute 'split'
Problematic Record: reference    உங்கள் தந்த கபவமக்களக்கவழங்க ம்வளயட்ட கள்
generated                                          NaN
Name: 336, dtype: object
Index: 336
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அவர்கள் கள்ளச் சந்தயல்வர்த்தகம்அவர்கள்என்ன வண்...
generated                                                  NaN
Name: 398, dtype: object
Index: 398
Error: 'float' object has no attribute 'split'
Problematic Record: reference    உண்மயல என்மசம னநடத்த யயம் எல்லரம்மன்னக்கத்தயரஇ...
generated                                                  NaN
Name: 401, dtype: object
Index: 401
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நமதஅமரக்கவணககப்பல்கள்நமதஅமரக்க கடற்படயல்பத கக்...
generated                                                  NaN
Name: 450, dtype: object
Index: 450
Error: 'float' object has no attribute 'split'
Problematic Record: reference    உன் பிரச்சனையே உனக்கான ஒரு கூட்டத்தை சேர்த்து ...
generated                                                  NaN
Name: 459, dtype: object
Index: 459
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நன்அதப்பர்த்தக்கறதலஅவர் ரம்பஆவலஇரக்கர்பலம்
generated                                           NaN
Name: 495, dtype: object
Index: 495
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அப்படய அத நீங்கள் எப்படச ய்யதட்டமடகறீர்கள்
generated                                           NaN
Name: 595, dtype: object
Index: 595
Error: 'float' object has no attribute 'split'
Problematic Record: reference    மீண்டம்அரண்மனக்கநடந்த என் வழ்க்கயல்நீண்டஇரந்தத
generated                                               NaN
Name: 644, dtype: object
Index: 644
Error: 'float' object has no attribute 'split'
Problematic Record: reference    டவலஅவங்கவீட்டலநடந்த எல்ல டரமவயம்பர்த்தரப்பல
generated                                            NaN
Name: 660, dtype: object
Index: 660
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அந்த கரதகர்களடஎன்னபடபட வங்கன்ன தரயமநங்கசவம்
generated                                            NaN
Name: 746, dtype: object
Index: 746
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அதன்சர்க்கரயகண்ட வந்த இப்படக ண்ணத்தலவச்சட்டபற
generated                                              NaN
Name: 899, dtype: object
Index: 899
Error: 'float' object has no attribute 'split'
Problematic Record: reference    தற்றம்க ண்டகட ம்பம்ஒரநபரன்ம ழவழ்க்கயயம் பதக்கம்
generated                                                NaN
Name: 1061, dtype: object
Index: 1061
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நன்மகழ்ந்தம்நன்கட்டயத நன்வ டக்கயகஇரக்க ம்என்ற
generated                                              NaN
Name: 1135, dtype: object
Index: 1135
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அவர் எங்களக்கமன்னல் பரக் க ன்றர் அவர் எங்கள் வ...
generated                                                  NaN
Name: 1202, dtype: object
Index: 1202
Error: 'float' object has no attribute 'split'
Problematic Record: reference    உறதயனவர் நக ழ்வனவர் ஆகயவ என்னவ வரக்கதவர்த்தகள்
generated                                               NaN
Name: 1218, dtype: object
Index: 1218
Error: 'float' object has no attribute 'split'
Problematic Record: reference    கர்டல்கட்டட்சக்கள்பர் யரம்யர யம்நம்பம ட்டங்க
generated                                             NaN
Name: 1287, dtype: object
Index: 1287
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அவர்கள் இளயவர்கள்என்பதல் யதர்த்தம்ப ரயமல்இரக்கலம்
generated                                                  NaN
Name: 1332, dtype: object
Index: 1332
Error: 'float' object has no attribute 'split'
Problematic Record: reference    உங்கள் எதரதக்கதல்கறத்த யர்கணத்த ள்ளனர் சரங்கப்...
generated                                                  NaN
Name: 1393, dtype: object
Index: 1393
Error: 'float' object has no attribute 'split'
Problematic Record: reference    எனவ நமக்கவணம்ன நள்மழவத யம் படக்கயலயகழக்கலம்
generated                                            NaN
Name: 1398, dtype: object
Index: 1398
Error: 'float' object has no attribute 'split'
Problematic Record: reference    உன் பற்றர்கள்யர தர்ந்தடக்கறர்கள அவனத ரமணம்சய்த...
generated                                                  NaN
Name: 1498, dtype: object
Index: 1498
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நீங்கள் சறயவர் ஆன ல் நீங்கள் சத்தமகப சகறீர்கள்
generated                                               NaN
Name: 1567, dtype: object
Index: 1567
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அநகமகசல தசந றந்த அலமரயல் உட்கர்ந்த எங்க ம ழமயக...
generated                                                  NaN
Name: 1581, dtype: object
Index: 1581
Error: 'float' object has no attribute 'split'
Problematic Record: reference    பர்லனல்பரய படககள க்கண்ட பயப்படம்ஒரபங்கரப்பத்தய
generated                                               NaN
Name: 1624, dtype: object
Index: 1624
Error: 'float' object has no attribute 'split'
Problematic Record: reference    டரக்கற்கஇதல் தடர்ப இரப்பதக உண்மயல்நீ நன க்கறய
generated                                              NaN
Name: 1673, dtype: object
Index: 1673
Error: 'float' object has no attribute 'split'
Problematic Record: reference    உடம்பக்கஏத வதபரச்சனன்ன அதக்கன எல்லதீர்வநம்மடம்...
generated                                                  NaN
Name: 1679, dtype: object
Index: 1679
Error: 'float' object has no attribute 'split'
Problematic Record: reference    உனக்கஎன்னவண்டம்என்றந னக்கற ய் மற்றம்நீங்கள்உங்...
generated                                                  NaN
Name: 1688, dtype: object
Index: 1688
Error: 'float' object has no attribute 'split'
Problematic Record: reference    உங்களக்கநயமக்கப்பட்டள்ளகழவடம் ரப்பர்ட்சய்யவம்
generated                                              NaN
Name: 1840, dtype: object
Index: 1840
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அந்த டீன் சக்யரட்டயடம் அதகண்டகள்ளவண்ட ம்னசல்லட...
generated                                                  NaN
Name: 1864, dtype: object
Index: 1864
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அதனல் த டர்கல யளகள் அவள் அவளடயபன்றவர்த்தகள
generated                                           NaN
Name: 1939, dtype: object
Index: 1939
Error: 'float' object has no attribute 'split'
Problematic Record: reference    மஜ நீ பர்ஷந்த்தன்தரமணஅட்டகள ஒப்படத்தவட்டய
generated                                          NaN
Name: 1987, dtype: object
Index: 1987
Error: 'float' object has no attribute 'split'
Problematic Record: reference    கறஸ்தமஸ்சறப்பநகழ்ச்ச பர்ப்பதற்ககசர யகநரத்தல்வங...
generated                                                  NaN
Name: 2026, dtype: object
Index: 2026
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அவர்கள் இங்கஇல்லயன்றல் நன்அவரஇங்க பட்ட வன் அவர...
generated                                                  NaN
Name: 2042, dtype: object
Index: 2042
Error: 'float' object has no attribute 'split'
Problematic Record: reference    உன்னத க்ககறன் உன்னதவக்க சய்கறன் அவன க்கஏழகட
generated                                            NaN
Name: 2084, dtype: object
Index: 2084
Error: 'float' object has no attribute 'split'
Problematic Record: reference    மதவகத்தடங்கங்கள் ஆனல்வ ரவகச்சல்ல ங்கள் ஆனல்மக ...
generated                                                  NaN
Name: 2145, dtype: object
Index: 2145
Error: 'float' object has no attribute 'split'
Problematic Record: reference    கறந்தபட்சம் பர்இறந்தவங்கன்னம் இதத சயஎமர்ஜன்சன்...
generated                                                  NaN
Name: 2257, dtype: object
Index: 2257
Error: 'float' object has no attribute 'split'
Problematic Record: reference    எனவ ம தல்பத யல்கரய கணதம்மற்றம்ஆங்க லம்ஆகயவற்றல...
generated                                                  NaN
Name: 2299, dtype: object
Index: 2299
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அவசர அழப்பஎந்தமரத்தவர்அங்கஇல்லஏனனல்நன்அழ க்கப்...
generated                                                  NaN
Name: 2307, dtype: object
Index: 2307
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நங்கள்ஒரமலம்சட்டக டத்தத வண்கலம் உங்கள்இரத்தநீல...
generated                                                  NaN
Name: 2341, dtype: object
Index: 2341
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நன்த டங்கயஇடத்தல்மீண்ட ம் வந்தன்எனநம்பவதவட
generated                                           NaN
Name: 2355, dtype: object
Index: 2355
Error: 'float' object has no attribute 'split'
Problematic Record: reference    சலசமயங்களல்ரணதன்இரஜ்ஜயத்தன் நலனக்ககமசமனசயல்களச...
generated                                                  NaN
Name: 2394, dtype: object
Index: 2394
Error: 'float' object has no attribute 'split'
Problematic Record: reference    பஸ்டன்ஷ ப்பங் வள ந ட்டல் பலபத வசய்யப்பட்டள்ளத
generated                                              NaN
Name: 2563, dtype: object
Index: 2563
Error: 'float' object has no attribute 'split'
Problematic Record: reference    உன்னஒரவயத னபண்மணய படக்கட்டகளல்தள்ளவத்தவடவன்
generated                                            NaN
Name: 2644, dtype: object
Index: 2644
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நங்கள்ல மனல்சய்வதற்கம்இதற்கம அல்லதஎந்தவததண்டப்...
generated                                                  NaN
Name: 2648, dtype: object
Index: 2648
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நன்ச ன்னஉட ஞ்சகடவ த்த ரந்த கடக்கரனகஇரந்தபத
generated                                           NaN
Name: 2659, dtype: object
Index: 2659
Error: 'float' object has no attribute 'split'
Problematic Record: reference    ஹர்லன்ப லஒர வனடம்பலவீனத்தகட்டனல் அவன் நம்மம ழம...
generated                                                  NaN
Name: 2686, dtype: object
Index: 2686
Error: 'float' object has no attribute 'split'
Problematic Record: reference    மற்றம்ஏர்ஒர சலந மடங்கள்மலகமச்ச அதகமக அம்மனய உள்ளத
generated                                                  NaN
Name: 2745, dtype: object
Index: 2745
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நீங்களம் அவனம்இரக்கம்படத்த ட்வட்டரல்பர்த்தன்
generated                                             NaN
Name: 2774, dtype: object
Index: 2774
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நங்கள்ஒரவரக்கரவர்ஆதரவக இவ்வளவக லமகஇரந்தம் தரயம
generated                                               NaN
Name: 2851, dtype: object
Index: 2851
Error: 'float' object has no attribute 'split'
Problematic Record: reference    பத்தஆண்டகளக்கள்இந்தந றவனம் மழமயகசயநத யதவ பறம்
generated                                              NaN
Name: 2910, dtype: object
Index: 2910
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நம்ப கறன்இந்தந றவனத்தஎடக்கவளந்ததஎன்றஇங்கதட்டங்...
generated                                                  NaN
Name: 2961, dtype: object
Index: 2961
Error: 'float' object has no attribute 'split'
Problematic Record: reference    சமயலறலஉன்மட்டர்சக்கள ரப்பர்பண்ணலம்னஉன்அப்பகட்ட...
generated                                                  NaN
Name: 3001, dtype: object
Index: 3001
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நன்த நீர் கப கடபழக்கம் தன்அவளத கணவர்ஆசீர்வதத்த...
generated                                                  NaN
Name: 3011, dtype: object
Index: 3011
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அந்த பண் ஜ னயர்பபச ங் ப்ளீஸ் அவளப டவட ங்கள்
generated                                            NaN
Name: 3027, dtype: object
Index: 3027
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அதன்பறககட தவறனஎதரயன்ஹலகப்டர்நம்எல்லக்கள்ந ழகறத
generated                                               NaN
Name: 3119, dtype: object
Index: 3119
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அதசர வரவ ல்அப்பப் படக்கக்க பய்வடவீர்கள்எனஎதர்ப...
generated                                                  NaN
Name: 3177, dtype: object
Index: 3177
Error: 'float' object has no attribute 'split'
Problematic Record: reference    மற்றொரு கும்பல் இந்த இடத்தை கண்டுபிடிக்க போத...
generated                                                  NaN
Name: 3186, dtype: object
Index: 3186
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அதஜ பயடஅம்ம பக்கவ க்கக் கடத்தஎட்டயரம்யரக்களக்க
generated                                               NaN
Name: 3261, dtype: object
Index: 3261
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அறவயல்அண யரபரந்தஒல பரப்ப க்கண்டரந்தத அங்க
generated                                          NaN
Name: 3293, dtype: object
Index: 3293
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நீங்கள் இறதயகஎன் பச்சக்கட்கறீர்கள்என்றந னத்தன்
generated                                               NaN
Name: 3350, dtype: object
Index: 3350
Error: 'float' object has no attribute 'split'
Problematic Record: reference    ஹய் ப ரங்க மசம னசம்பவங்கள் நடக்கம்ம ன்தட க்கம்...
generated                                                  NaN
Name: 3392, dtype: object
Index: 3392
Error: 'float' object has no attribute 'split'
Problematic Record: reference    மற்றம் அத பல் இல்ல என்றல் நளமீண்டம்கத்தரக்கய்
generated                                              NaN
Name: 3408, dtype: object
Index: 3408
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அவர் மீதப டக்கம்என்ற ல் நன்அவரகலச ய்யம் மன்பகவ
generated                                               NaN
Name: 3441, dtype: object
Index: 3441
Error: 'float' object has no attribute 'split'
Problematic Record: reference    உங்கள் கதயநீங்கள்என்னடம் சல்லம்வதம்எனக்கப்படக்...
generated                                                  NaN
Name: 3475, dtype: object
Index: 3475
Error: 'float' object has no attribute 'split'
Problematic Record: reference    மற்றவர்கள் அங்கஉள்ளன நம்அவ்வப்பதஅவற்றஇயக்க
generated                                           NaN
Name: 3551, dtype: object
Index: 3551
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நன்வ ணபசங்களகட்ட ட்டமணர் பய்ப த்தட்டவந்த டவ
generated                                            NaN
Name: 3552, dtype: object
Index: 3552
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அந்த மரத்தவமனக்கள்ளலக்சட் என்ற சறயமர த்தவமனயம்...
generated                                                  NaN
Name: 3643, dtype: object
Index: 3643
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அவரதகடனவலக்கத்இதற்கவக மதயகரீடதனதமதல்பஸ்பல்வள ய...
generated                                                  NaN
Name: 3805, dtype: object
Index: 3805
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அந்த சமயத்தல் க ழந்தகளவற்பத கடரமனமற்றம்தீயசயல்...
generated                                                  NaN
Name: 3910, dtype: object
Index: 3910
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நங்கள்இனதங்கயரந்தல் எங்கள் கலஜக்மடத்தரக்கலம்
generated                                             NaN
Name: 3946, dtype: object
Index: 3946
Error: 'float' object has no attribute 'split'
Problematic Record: reference    கலம்பயவக்கஅமரக்கவடன் கற்றவளகளஒப்படக்கம்ஒப்பந்த...
generated                                                  NaN
Name: 3980, dtype: object
Index: 3980
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நன்உங்கள்இரத்தத்தகலன் தண்ணீரல்நரப்பவர ம்பகறன்
generated                                              NaN
Name: 3985, dtype: object
Index: 3985
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அங்கஒரகண்டபர்க்க ஷ்பண்ணமணந்த வத வதன்னபர்க்கஷ்க...
generated                                                  NaN
Name: 4119, dtype: object
Index: 4119
Error: 'float' object has no attribute 'split'
Problematic Record: reference    உங்கள் நனவகளகஷ்க ளவடநம்பச் சமத்ததற்கநன்ற தர
generated                                            NaN
Name: 4140, dtype: object
Index: 4140
Error: 'float' object has no attribute 'split'
Problematic Record: reference    டக்டர்மன் நங்கள்மன்ற பதகப்ப னகண்டபடக்கவ ண்டம் ...
generated                                                  NaN
Name: 4157, dtype: object
Index: 4157
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அப்பதஎனக்கமயக்கமரந்த படப்பட்ட கடத்தப்பட்டரந்தன்
generated                                                NaN
Name: 4172, dtype: object
Index: 4172
Error: 'float' object has no attribute 'split'
Problematic Record: reference    கத்தரங்கள் அவள்எங்க வசக்க றள்என்பதக்கண்டபடத்தஅ...
generated                                                  NaN
Name: 4466, dtype: object
Index: 4466
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நன்என்மீததங்க கறன் அபர்ட்மண்ட்மற்றம்ஒரதல பசஅழப...
generated                                                  NaN
Name: 4498, dtype: object
Index: 4498
Error: 'float' object has no attribute 'split'
Problematic Record: reference    தரயல்இர ந்தசகரட்எடப்பதந ன் தவறகந னக்கவல்ல
generated                                          NaN
Name: 4640, dtype: object
Index: 4640
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நறயதப்பக்கசடகளகட்டன் வன்மறயப்பர்த்தன் கட்டன்
generated                                             NaN
Name: 4791, dtype: object
Index: 4791
Error: 'float' object has no attribute 'split'
Problematic Record: reference    அவற்றஅடயல்மறக்கப்பர்த்த ன் ஆனல்அவள்மப்பம்படத்த...
generated                                                  NaN
Name: 4792, dtype: object
Index: 4792
Error: 'float' object has no attribute 'split'
Problematic Record: reference    நீங்கள் எப்படஇரக்கறீர்கள்என பர்ப்பதற்ககவந்தன்
generated                                              NaN
Name: 4857, dtype: object
Index: 4857
Error: 'float' object has no attribute 'split'
Problematic Record: reference    ஆனல் மன்னக்கவம் என்றசல்லய ரக்கவண்டம்என்றநனக்கறன்

In [21]:
if count > 0:
    average_meteor = agg_meteor / count
    print(f"\nAverage METEOR score: {average_meteor}")
else:
    print("\nNo valid scores were calculated.")

Average METEOR score: 0.33593891200967435

In [22]:
pip install Levenshtein

Requirement already satisfied: Levenshtein in /Users/nevidujayatilleke/Documents/MSC - Research/OCR Comparative Analysis/.venv/lib/python3.12/site-packages (0.27.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.9.0 in /Users/nevidujayatilleke/Documents/MSC - Research/OCR Comparative Analysis/.venv/lib/python3.12/site-packages (from Levenshtein) (3.13.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
from Levenshtein import distance as levenshtein_distance  # You might need to install this: pip install python-Levenshtein

In [24]:
def normalized_levenshtein_similarity(s1, s2):
    """Calculates the Normalized Levenshtein Similarity between two strings."""
    if not s1 and not s2:
        return 1.0
    elif not s1 or not s2:
        return 0.0
    distance = levenshtein_distance(s1, s2)
    max_len = max(len(s1), len(s2))
    similarity = 1 - (distance / max_len)
    return similarity

In [25]:
agg_anls = 0
count = 0
for i in range(len(df)):
    record = df.iloc[i]
    reference_text = record['reference']
    generated_text = record['generated']

    # if pd.isna(reference_text) or not reference_text or pd.isna(generated_text) or not generated_text:
    #     print(f"Skipping record at index {i} for ANLS due to missing or empty reference/generated text:")
    #     print("Reference:", reference_text)
    #     print("Generated:", generated_text)
    #     continue

    try:
        similarity = normalized_levenshtein_similarity(reference_text, generated_text)
        # print(f"Index: {i}")
        # print("Reference:", reference_text)
        # print("Generated:", generated_text)
        # print("Normalized Levenshtein Similarity:", similarity)
        agg_anls += similarity
        count += 1
    except Exception as e:
        print(f"Error calculating ANLS at index {i}: {e}")
        print("Problematic Record:", record)
        continue

Error calculating ANLS at index 14: object of type 'float' has no len()
Problematic Record: reference    உனக்கஏற்கனவநறய நண்பர்கள்இரக்கற ர்கள்என்பதசறப்ப...
generated                                                  NaN
Name: 14, dtype: object
Error calculating ANLS at index 90: object of type 'float' has no len()
Problematic Record: reference    நீங்கள் படபயங்கரத்தவள வக்கம்சலமலம் கண்டபடக்கபகறம்
generated                                                  NaN
Name: 90, dtype: object
Error calculating ANLS at index 136: object of type 'float' has no len()
Problematic Record: reference    நன்ஒரபக்கஅழத்ததபற்றலயஸ பம்ப்ரக்எவ்வளவவணலம்இளக்...
generated                                                  NaN
Name: 136, dtype: object
Error calculating ANLS at index 179: object of type 'float' has no len()
Problematic Record: reference    உங்கள் பிற்பகுதியில் மாமாவின் நண்பர் மற்றும் வ...
generated                                                  NaN
Name: 179, dtype: object
Error calculating ANLS at index 216: object of type 'float' has no len()
Problematic Record: reference    நன்உன்மல்பயத்தயக்கரத்தனமக கதலல்இர க்கன்றன்
generated                                           NaN
Name: 216, dtype: object
Error calculating ANLS at index 217: object of type 'float' has no len()
Problematic Record: reference    உறந்தரக்கம்பய் நன்ச ட்டரட்டயஉண்பத தடக்கறத
generated                                          NaN
Name: 217, dtype: object
Error calculating ANLS at index 225: object of type 'float' has no len()
Problematic Record: reference    பள்ளயல் பலங்களப்பற்ற படப்பதல்மழ வரத்தயம்கழத்தம்
generated                                                NaN
Name: 225, dtype: object
Error calculating ANLS at index 336: object of type 'float' has no len()
Problematic Record: reference    உங்கள் தந்த கபவமக்களக்கவழங்க ம்வளயட்ட கள்
generated                                          NaN
Name: 336, dtype: object
Error calculating ANLS at index 398: object of type 'float' has no len()
Problematic Record: reference    அவர்கள் கள்ளச் சந்தயல்வர்த்தகம்அவர்கள்என்ன வண்...
generated                                                  NaN
Name: 398, dtype: object
Error calculating ANLS at index 401: object of type 'float' has no len()
Problematic Record: reference    உண்மயல என்மசம னநடத்த யயம் எல்லரம்மன்னக்கத்தயரஇ...
generated                                                  NaN
Name: 401, dtype: object
Error calculating ANLS at index 450: object of type 'float' has no len()
Problematic Record: reference    நமதஅமரக்கவணககப்பல்கள்நமதஅமரக்க கடற்படயல்பத கக்...
generated                                                  NaN
Name: 450, dtype: object
Error calculating ANLS at index 459: object of type 'float' has no len()
Problematic Record: reference    உன் பிரச்சனையே உனக்கான ஒரு கூட்டத்தை சேர்த்து ...
generated                                                  NaN
Name: 459, dtype: object
Error calculating ANLS at index 495: object of type 'float' has no len()
Problematic Record: reference    நன்அதப்பர்த்தக்கறதலஅவர் ரம்பஆவலஇரக்கர்பலம்
generated                                           NaN
Name: 495, dtype: object
Error calculating ANLS at index 595: object of type 'float' has no len()
Problematic Record: reference    அப்படய அத நீங்கள் எப்படச ய்யதட்டமடகறீர்கள்
generated                                           NaN
Name: 595, dtype: object
Error calculating ANLS at index 644: object of type 'float' has no len()
Problematic Record: reference    மீண்டம்அரண்மனக்கநடந்த என் வழ்க்கயல்நீண்டஇரந்தத
generated                                               NaN
Name: 644, dtype: object
Error calculating ANLS at index 660: object of type 'float' has no len()
Problematic Record: reference    டவலஅவங்கவீட்டலநடந்த எல்ல டரமவயம்பர்த்தரப்பல
generated                                            NaN
Name: 660, dtype: object
Error calculating ANLS at index 746: object of type 'float' has no len()
Problematic Record: reference    அந்த கரதகர்களடஎன்னபடபட வங்கன்ன தரயமநங்கசவம்
generated                                            NaN
Name: 746, dtype: object
Error calculating ANLS at index 899: object of type 'float' has no len()
Problematic Record: reference    அதன்சர்க்கரயகண்ட வந்த இப்படக ண்ணத்தலவச்சட்டபற
generated                                              NaN
Name: 899, dtype: object
Error calculating ANLS at index 1061: object of type 'float' has no len()
Problematic Record: reference    தற்றம்க ண்டகட ம்பம்ஒரநபரன்ம ழவழ்க்கயயம் பதக்கம்
generated                                                NaN
Name: 1061, dtype: object
Error calculating ANLS at index 1135: object of type 'float' has no len()
Problematic Record: reference    நன்மகழ்ந்தம்நன்கட்டயத நன்வ டக்கயகஇரக்க ம்என்ற
generated                                              NaN
Name: 1135, dtype: object
Error calculating ANLS at index 1202: object of type 'float' has no len()
Problematic Record: reference    அவர் எங்களக்கமன்னல் பரக் க ன்றர் அவர் எங்கள் வ...
generated                                                  NaN
Name: 1202, dtype: object
Error calculating ANLS at index 1218: object of type 'float' has no len()
Problematic Record: reference    உறதயனவர் நக ழ்வனவர் ஆகயவ என்னவ வரக்கதவர்த்தகள்
generated                                               NaN
Name: 1218, dtype: object
Error calculating ANLS at index 1287: object of type 'float' has no len()
Problematic Record: reference    கர்டல்கட்டட்சக்கள்பர் யரம்யர யம்நம்பம ட்டங்க
generated                                             NaN
Name: 1287, dtype: object
Error calculating ANLS at index 1332: object of type 'float' has no len()
Problematic Record: reference    அவர்கள் இளயவர்கள்என்பதல் யதர்த்தம்ப ரயமல்இரக்கலம்
generated                                                  NaN
Name: 1332, dtype: object
Error calculating ANLS at index 1393: object of type 'float' has no len()
Problematic Record: reference    உங்கள் எதரதக்கதல்கறத்த யர்கணத்த ள்ளனர் சரங்கப்...
generated                                                  NaN
Name: 1393, dtype: object
Error calculating ANLS at index 1398: object of type 'float' has no len()
Problematic Record: reference    எனவ நமக்கவணம்ன நள்மழவத யம் படக்கயலயகழக்கலம்
generated                                            NaN
Name: 1398, dtype: object
Error calculating ANLS at index 1498: object of type 'float' has no len()
Problematic Record: reference    உன் பற்றர்கள்யர தர்ந்தடக்கறர்கள அவனத ரமணம்சய்த...
generated                                                  NaN
Name: 1498, dtype: object
Error calculating ANLS at index 1567: object of type 'float' has no len()
Problematic Record: reference    நீங்கள் சறயவர் ஆன ல் நீங்கள் சத்தமகப சகறீர்கள்
generated                                               NaN
Name: 1567, dtype: object
Error calculating ANLS at index 1581: object of type 'float' has no len()
Problematic Record: reference    அநகமகசல தசந றந்த அலமரயல் உட்கர்ந்த எங்க ம ழமயக...
generated                                                  NaN
Name: 1581, dtype: object
Error calculating ANLS at index 1624: object of type 'float' has no len()
Problematic Record: reference    பர்லனல்பரய படககள க்கண்ட பயப்படம்ஒரபங்கரப்பத்தய
generated                                               NaN
Name: 1624, dtype: object
Error calculating ANLS at index 1673: object of type 'float' has no len()
Problematic Record: reference    டரக்கற்கஇதல் தடர்ப இரப்பதக உண்மயல்நீ நன க்கறய
generated                                              NaN
Name: 1673, dtype: object
Error calculating ANLS at index 1679: object of type 'float' has no len()
Problematic Record: reference    உடம்பக்கஏத வதபரச்சனன்ன அதக்கன எல்லதீர்வநம்மடம்...
generated                                                  NaN
Name: 1679, dtype: object
Error calculating ANLS at index 1688: object of type 'float' has no len()
Problematic Record: reference    உனக்கஎன்னவண்டம்என்றந னக்கற ய் மற்றம்நீங்கள்உங்...
generated                                                  NaN
Name: 1688, dtype: object
Error calculating ANLS at index 1840: object of type 'float' has no len()
Problematic Record: reference    உங்களக்கநயமக்கப்பட்டள்ளகழவடம் ரப்பர்ட்சய்யவம்
generated                                              NaN
Name: 1840, dtype: object
Error calculating ANLS at index 1864: object of type 'float' has no len()
Problematic Record: reference    அந்த டீன் சக்யரட்டயடம் அதகண்டகள்ளவண்ட ம்னசல்லட...
generated                                                  NaN
Name: 1864, dtype: object
Error calculating ANLS at index 1939: object of type 'float' has no len()
Problematic Record: reference    அதனல் த டர்கல யளகள் அவள் அவளடயபன்றவர்த்தகள
generated                                           NaN
Name: 1939, dtype: object
Error calculating ANLS at index 1987: object of type 'float' has no len()
Problematic Record: reference    மஜ நீ பர்ஷந்த்தன்தரமணஅட்டகள ஒப்படத்தவட்டய
generated                                          NaN
Name: 1987, dtype: object
Error calculating ANLS at index 2026: object of type 'float' has no len()
Problematic Record: reference    கறஸ்தமஸ்சறப்பநகழ்ச்ச பர்ப்பதற்ககசர யகநரத்தல்வங...
generated                                                  NaN
Name: 2026, dtype: object
Error calculating ANLS at index 2042: object of type 'float' has no len()
Problematic Record: reference    அவர்கள் இங்கஇல்லயன்றல் நன்அவரஇங்க பட்ட வன் அவர...
generated                                                  NaN
Name: 2042, dtype: object
Error calculating ANLS at index 2084: object of type 'float' has no len()
Problematic Record: reference    உன்னத க்ககறன் உன்னதவக்க சய்கறன் அவன க்கஏழகட
generated                                            NaN
Name: 2084, dtype: object
Error calculating ANLS at index 2145: object of type 'float' has no len()
Problematic Record: reference    மதவகத்தடங்கங்கள் ஆனல்வ ரவகச்சல்ல ங்கள் ஆனல்மக ...
generated                                                  NaN
Name: 2145, dtype: object
Error calculating ANLS at index 2257: object of type 'float' has no len()
Problematic Record: reference    கறந்தபட்சம் பர்இறந்தவங்கன்னம் இதத சயஎமர்ஜன்சன்...
generated                                                  NaN
Name: 2257, dtype: object
Error calculating ANLS at index 2299: object of type 'float' has no len()
Problematic Record: reference    எனவ ம தல்பத யல்கரய கணதம்மற்றம்ஆங்க லம்ஆகயவற்றல...
generated                                                  NaN
Name: 2299, dtype: object
Error calculating ANLS at index 2307: object of type 'float' has no len()
Problematic Record: reference    அவசர அழப்பஎந்தமரத்தவர்அங்கஇல்லஏனனல்நன்அழ க்கப்...
generated                                                  NaN
Name: 2307, dtype: object
Error calculating ANLS at index 2341: object of type 'float' has no len()
Problematic Record: reference    நங்கள்ஒரமலம்சட்டக டத்தத வண்கலம் உங்கள்இரத்தநீல...
generated                                                  NaN
Name: 2341, dtype: object
Error calculating ANLS at index 2355: object of type 'float' has no len()
Problematic Record: reference    நன்த டங்கயஇடத்தல்மீண்ட ம் வந்தன்எனநம்பவதவட
generated                                           NaN
Name: 2355, dtype: object
Error calculating ANLS at index 2394: object of type 'float' has no len()
Problematic Record: reference    சலசமயங்களல்ரணதன்இரஜ்ஜயத்தன் நலனக்ககமசமனசயல்களச...
generated                                                  NaN
Name: 2394, dtype: object
Error calculating ANLS at index 2563: object of type 'float' has no len()
Problematic Record: reference    பஸ்டன்ஷ ப்பங் வள ந ட்டல் பலபத வசய்யப்பட்டள்ளத
generated                                              NaN
Name: 2563, dtype: object
Error calculating ANLS at index 2644: object of type 'float' has no len()
Problematic Record: reference    உன்னஒரவயத னபண்மணய படக்கட்டகளல்தள்ளவத்தவடவன்
generated                                            NaN
Name: 2644, dtype: object
Error calculating ANLS at index 2648: object of type 'float' has no len()
Problematic Record: reference    நங்கள்ல மனல்சய்வதற்கம்இதற்கம அல்லதஎந்தவததண்டப்...
generated                                                  NaN
Name: 2648, dtype: object
Error calculating ANLS at index 2659: object of type 'float' has no len()
Problematic Record: reference    நன்ச ன்னஉட ஞ்சகடவ த்த ரந்த கடக்கரனகஇரந்தபத
generated                                           NaN
Name: 2659, dtype: object
Error calculating ANLS at index 2686: object of type 'float' has no len()
Problematic Record: reference    ஹர்லன்ப லஒர வனடம்பலவீனத்தகட்டனல் அவன் நம்மம ழம...
generated                                                  NaN
Name: 2686, dtype: object
Error calculating ANLS at index 2745: object of type 'float' has no len()
Problematic Record: reference    மற்றம்ஏர்ஒர சலந மடங்கள்மலகமச்ச அதகமக அம்மனய உள்ளத
generated                                                  NaN
Name: 2745, dtype: object
Error calculating ANLS at index 2774: object of type 'float' has no len()
Problematic Record: reference    நீங்களம் அவனம்இரக்கம்படத்த ட்வட்டரல்பர்த்தன்
generated                                             NaN
Name: 2774, dtype: object
Error calculating ANLS at index 2851: object of type 'float' has no len()
Problematic Record: reference    நங்கள்ஒரவரக்கரவர்ஆதரவக இவ்வளவக லமகஇரந்தம் தரயம
generated                                               NaN
Name: 2851, dtype: object
Error calculating ANLS at index 2910: object of type 'float' has no len()
Problematic Record: reference    பத்தஆண்டகளக்கள்இந்தந றவனம் மழமயகசயநத யதவ பறம்
generated                                              NaN
Name: 2910, dtype: object
Error calculating ANLS at index 2961: object of type 'float' has no len()
Problematic Record: reference    நம்ப கறன்இந்தந றவனத்தஎடக்கவளந்ததஎன்றஇங்கதட்டங்...
generated                                                  NaN
Name: 2961, dtype: object
Error calculating ANLS at index 3001: object of type 'float' has no len()
Problematic Record: reference    சமயலறலஉன்மட்டர்சக்கள ரப்பர்பண்ணலம்னஉன்அப்பகட்ட...
generated                                                  NaN
Name: 3001, dtype: object
Error calculating ANLS at index 3011: object of type 'float' has no len()
Problematic Record: reference    நன்த நீர் கப கடபழக்கம் தன்அவளத கணவர்ஆசீர்வதத்த...
generated                                                  NaN
Name: 3011, dtype: object
Error calculating ANLS at index 3027: object of type 'float' has no len()
Problematic Record: reference    அந்த பண் ஜ னயர்பபச ங் ப்ளீஸ் அவளப டவட ங்கள்
generated                                            NaN
Name: 3027, dtype: object
Error calculating ANLS at index 3119: object of type 'float' has no len()
Problematic Record: reference    அதன்பறககட தவறனஎதரயன்ஹலகப்டர்நம்எல்லக்கள்ந ழகறத
generated                                               NaN
Name: 3119, dtype: object
Error calculating ANLS at index 3177: object of type 'float' has no len()
Problematic Record: reference    அதசர வரவ ல்அப்பப் படக்கக்க பய்வடவீர்கள்எனஎதர்ப...
generated                                                  NaN
Name: 3177, dtype: object
Error calculating ANLS at index 3186: object of type 'float' has no len()
Problematic Record: reference    மற்றொரு கும்பல் இந்த இடத்தை கண்டுபிடிக்க போத...
generated                                                  NaN
Name: 3186, dtype: object
Error calculating ANLS at index 3261: object of type 'float' has no len()
Problematic Record: reference    அதஜ பயடஅம்ம பக்கவ க்கக் கடத்தஎட்டயரம்யரக்களக்க
generated                                               NaN
Name: 3261, dtype: object
Error calculating ANLS at index 3293: object of type 'float' has no len()
Problematic Record: reference    அறவயல்அண யரபரந்தஒல பரப்ப க்கண்டரந்தத அங்க
generated                                          NaN
Name: 3293, dtype: object
Error calculating ANLS at index 3350: object of type 'float' has no len()
Problematic Record: reference    நீங்கள் இறதயகஎன் பச்சக்கட்கறீர்கள்என்றந னத்தன்
generated                                               NaN
Name: 3350, dtype: object
Error calculating ANLS at index 3392: object of type 'float' has no len()
Problematic Record: reference    ஹய் ப ரங்க மசம னசம்பவங்கள் நடக்கம்ம ன்தட க்கம்...
generated                                                  NaN
Name: 3392, dtype: object
Error calculating ANLS at index 3408: object of type 'float' has no len()
Problematic Record: reference    மற்றம் அத பல் இல்ல என்றல் நளமீண்டம்கத்தரக்கய்
generated                                              NaN
Name: 3408, dtype: object
Error calculating ANLS at index 3441: object of type 'float' has no len()
Problematic Record: reference    அவர் மீதப டக்கம்என்ற ல் நன்அவரகலச ய்யம் மன்பகவ
generated                                               NaN
Name: 3441, dtype: object
Error calculating ANLS at index 3475: object of type 'float' has no len()
Problematic Record: reference    உங்கள் கதயநீங்கள்என்னடம் சல்லம்வதம்எனக்கப்படக்...
generated                                                  NaN
Name: 3475, dtype: object
Error calculating ANLS at index 3551: object of type 'float' has no len()
Problematic Record: reference    மற்றவர்கள் அங்கஉள்ளன நம்அவ்வப்பதஅவற்றஇயக்க
generated                                           NaN
Name: 3551, dtype: object
Error calculating ANLS at index 3552: object of type 'float' has no len()
Problematic Record: reference    நன்வ ணபசங்களகட்ட ட்டமணர் பய்ப த்தட்டவந்த டவ
generated                                            NaN
Name: 3552, dtype: object
Error calculating ANLS at index 3643: object of type 'float' has no len()
Problematic Record: reference    அந்த மரத்தவமனக்கள்ளலக்சட் என்ற சறயமர த்தவமனயம்...
generated                                                  NaN
Name: 3643, dtype: object
Error calculating ANLS at index 3805: object of type 'float' has no len()
Problematic Record: reference    அவரதகடனவலக்கத்இதற்கவக மதயகரீடதனதமதல்பஸ்பல்வள ய...
generated                                                  NaN
Name: 3805, dtype: object
Error calculating ANLS at index 3910: object of type 'float' has no len()
Problematic Record: reference    அந்த சமயத்தல் க ழந்தகளவற்பத கடரமனமற்றம்தீயசயல்...
generated                                                  NaN
Name: 3910, dtype: object
Error calculating ANLS at index 3946: object of type 'float' has no len()
Problematic Record: reference    நங்கள்இனதங்கயரந்தல் எங்கள் கலஜக்மடத்தரக்கலம்
generated                                             NaN
Name: 3946, dtype: object
Error calculating ANLS at index 3980: object of type 'float' has no len()
Problematic Record: reference    கலம்பயவக்கஅமரக்கவடன் கற்றவளகளஒப்படக்கம்ஒப்பந்த...
generated                                                  NaN
Name: 3980, dtype: object
Error calculating ANLS at index 3985: object of type 'float' has no len()
Problematic Record: reference    நன்உங்கள்இரத்தத்தகலன் தண்ணீரல்நரப்பவர ம்பகறன்
generated                                              NaN
Name: 3985, dtype: object
Error calculating ANLS at index 4119: object of type 'float' has no len()
Problematic Record: reference    அங்கஒரகண்டபர்க்க ஷ்பண்ணமணந்த வத வதன்னபர்க்கஷ்க...
generated                                                  NaN
Name: 4119, dtype: object
Error calculating ANLS at index 4140: object of type 'float' has no len()
Problematic Record: reference    உங்கள் நனவகளகஷ்க ளவடநம்பச் சமத்ததற்கநன்ற தர
generated                                            NaN
Name: 4140, dtype: object
Error calculating ANLS at index 4157: object of type 'float' has no len()
Problematic Record: reference    டக்டர்மன் நங்கள்மன்ற பதகப்ப னகண்டபடக்கவ ண்டம் ...
generated                                                  NaN
Name: 4157, dtype: object
Error calculating ANLS at index 4172: object of type 'float' has no len()
Problematic Record: reference    அப்பதஎனக்கமயக்கமரந்த படப்பட்ட கடத்தப்பட்டரந்தன்
generated                                                NaN
Name: 4172, dtype: object
Error calculating ANLS at index 4466: object of type 'float' has no len()
Problematic Record: reference    கத்தரங்கள் அவள்எங்க வசக்க றள்என்பதக்கண்டபடத்தஅ...
generated                                                  NaN
Name: 4466, dtype: object

In [26]:
if count > 0:
    average_anls = agg_anls / count
    print(f"\nAverage Normalized Levenshtein Similarity (ANLS): {average_anls}")
else:
    print("\nNo valid ANLS scores were calculated.")

Average Normalized Levenshtein Similarity (ANLS): 0.8671627897151998

In [27]:
from nltk.translate.bleu_score import sentence_bleu

In [28]:
total_bleu_score = 0
valid_count = 0

for i in range(len(df)):
    record = df.iloc[i]
    reference_text = record['reference']
    generated_text = record['generated']

    if pd.isna(reference_text) or not reference_text or pd.isna(generated_text) or not generated_text:
        continue  # Skip rows with missing/empty values

    try:
        reference_tokens = [reference_text.split()]
        generated_tokens = generated_text.split()
        # Default BLEU score (BLEU-4 with equal weights)
        sentence_bleu_score = sentence_bleu(reference_tokens, generated_tokens)
        total_bleu_score += sentence_bleu_score
        valid_count += 1
    except Exception as e:
        print(f"Error calculating BLEU at index {i}: {e}")
        continue

/Users/nevidujayatilleke/Documents/MSC - Research/OCR Comparative Analysis/.venv/lib/python3.12/site-packages/nltk/translate/bleu_score.py:577: UserWarning:
The hypothesis contains 0 counts of 3-gram overlaps.
Therefore the BLEU score evaluates to 0, independently of
how many N-gram overlaps of lower order it contains.
Consider using lower n-gram order or use SmoothingFunction()
  warnings.warn(_msg)
/Users/nevidujayatilleke/Documents/MSC - Research/OCR Comparative Analysis/.venv/lib/python3.12/site-packages/nltk/translate/bleu_score.py:577: UserWarning:
The hypothesis contains 0 counts of 4-gram overlaps.
Therefore the BLEU score evaluates to 0, independently of
how many N-gram overlaps of lower order it contains.
Consider using lower n-gram order or use SmoothingFunction()
  warnings.warn(_msg)
/Users/nevidujayatilleke/Documents/MSC - Research/OCR Comparative Analysis/.venv/lib/python3.12/site-packages/nltk/translate/bleu_score.py:577: UserWarning:
The hypothesis contains 0 counts of 2-gram overlaps.
Therefore the BLEU score evaluates to 0, independently of
how many N-gram overlaps of lower order it contains.
Consider using lower n-gram order or use SmoothingFunction()
  warnings.warn(_msg)

In [29]:
if valid_count > 0:
    average_bleu = total_bleu_score / valid_count
    print(f"Average BLEU Score: {average_bleu}")
else:
    print("No valid data to calculate the average BLEU score.")

Average BLEU Score: 0.14869260141409282